.content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.form-div {
    margin-bottom: 20px;
}

.form-div input {
    padding: 10px;
    width: 70%;
}

.submit {
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}