<div class="content">
    <h2>Bienvenido</h2>

    <form [formGroup]="form">
        <div class="form-div">
            <input
                formControlName="mail"
                type="mail"
                name="mail"
                placeholder="Correo electrónico"
            />
        </div>
        
        <div class="form-div">
            <input
                formControlName="password"
                type="password"
                name="password"
                placeholder="Contraseña"
            />
        </div>
        
        <button
            type="button"
            [disabled]="form.invalid"
            (click)="login()"
            class="submit"
        >
            Iniciar sesión
        </button>
    </form>
</div>