<h2>Pendientes</h2>

<div *ngFor="let story of userstories" class="story">
    <h3>{{ story.subject }}</h3>
    <div class="text-right">
        <img [src]="story.assigned_to_extra_info.photo">
        <p>{{ story.assigned_to_extra_info.username }}</p>
    </div>
    <p>{{ story.status_extra_info.name }}</p>
</div>